body,
button {
  /* font-family: sans-serif; */
  font-family: 'Spline Sans Mono', monospace;
  /* background-color: #f3eee0 */
}

a {
  text-decoration: none;
  color: black
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'VT323', monospace;
}


/* all product */

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0 10%; */
}

.product {
  margin: 0 24px;
  text-align: center;
}

.productInfo {
  display: flex;
  justify-content: space-around;
}



/* single product page */

#singleProductContainer {
  display: flex;
  justify-content: center;
}

#singleProdText {
  width: 50%
}

.countSpace,
.buttonSpace {
  margin: 0 16px;
}