body{
  height: 100%;
  background-color: #FAF9F6;
  /* OFF WHITE 🥶*/
}

body,
button {
  /* font-family: sans-serif; */
  font-family: 'Spline Sans Mono', monospace;
  /* background-color: #f3eee0 */
}

a {
  text-decoration: none;
  color: black
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'VT323', monospace;
}


/* all product */

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0 10%; */
}

.product {
  margin: 0 24px;
  text-align: center;
}

.productInfo {
  display: flex;
  justify-content: space-around;
}



/* single product page */

#singleProductContainer {
  display: flex;
  justify-content: center;
}

#singleProdText {
  width: 50%
}

.countSpace,
.buttonSpace {
  margin: 0 16px;
}

/* Cart */

#cartHolder{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  height: auto;
}

#cart{
  display: flex;
  justify-content: center;
}

#loginCart {
  display: flex;
  align-items: stretch;
  border: 3px solid black;
  border-radius: 4px;
  box-shadow: black 3px 3px 5px;
  padding: 20px;
}

#items{
  display: flex;
  flex-wrap: wrap;
}

#loginCart > * {
  flex-grow: 1;
}

#checkoutCart{
  background-color: #177A55;
  border: 3px solid black;
  box-shadow: black 7px 7px;
  border-radius: 5px;
  padding: 45px;
}

#deleteBtn{
  background-color: #BE3C5F;
  border: 3px solid black;
  padding: 3px 6px;
  border-radius: 10px;
  color: white;
  font-size: 20px
}

#deleteBtn:hover{
  background-color: #A11F42;
  box-shadow: black 3px 3px;
}

.cartSpan{
  margin: 15px; 
  font-size: 30px;
}

.cartImg{
  box-shadow: black 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 120px;
}

.checkoutCartButtons{
  background-color: #BE3C5F;
  border: 2px solid black;
  border-radius: 7px;
}

.checkoutCartButtons:hover{
  background-color: #A11F42;
  box-shadow: black 3px 3px;
}

.neon{
  font-size: 1.1rem;
}

.neon:hover {
  transition: .7s;
  animation: neon 2.5s ease infinite;
}

@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #ef00e3a8, 0 0 10px #ef00e3a8, 0 0 10px #ef00e3a8, 0 0 10px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color: #f5efcb;
  }
  50% {
      text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
      color: #eda0d3;
  }
}

@media (max-width: 600px){
  .cartSpan{
    margin: 10px; 
    font-size: 20px;
  }
  #checkoutCart{
    padding: 5px;
  }
  #loginCart {
    box-shadow: none;
    padding: 0px;
  }
  .cartImg{
    width: 70px;
  }
}